h1 {
	color:red;
}
form {
	text-align:center;
	background:#d0e986; }
input[type=button], input[type=submit], input[type=reset] {
  background-color: #16a7e6;
  border-radius:3em;
  color: white;
  padding: 15px 60px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border:0px;
}